
<section class="error">
<h1>Oh No!</h1>
<h2>Sorry we couldn't find those records!</h2>

<%= link_to("Click Here to Go to Homepage", root_path) %>

<%= image_tag("puppy_taxi.jpg", alt: "Puppy in Cab")%>
</section>
