<h1>RideShare Passengers</h1>
<p>Below is a list of our awesome passengers</p>

<ul class="user-list">
  <li class="label">Name</li>
  <li class="label">Actions</li>
  <% @passengers.each do |passenger| %>
    <li><%= link_to( "#{passenger.name}", passenger_path(passenger) )%></li>
    <li>
      <div><%= link_to( "Edit", passenger_path(passenger) )%></div>
      <div><%= link_to( "Delete", passenger_path(passenger) )%></div>
    </li>
  <% end %>
</ul>
