<h1>RideShare Drivers</h1>
<p>Below is a list of our awesome drivers</p>

<ul class="user-list" id="drivers">
  <li class="label">Name</li>
  <li class="label">Rating</li>
  <li class="label">Actions</li>
  <% @drivers.each do |driver| %>
    <li><%= link_to("#{driver.name}", driver_path(driver)) %></li>
  <li><%= driver.average_rating %> </li>
  <li>
    <div><%= link_to( "Edit", edit_driver_path(driver) )%></div>
    <div><%= link_to( "Delete", driver_path(driver.id), method: :delete )%></div>
  </li>
<% end %>
</ul>
