<h1>Drivers#index</h1>
<p>Find me in app/views/drivers/index.html.erb</p>


<ul class="drivers-list">
<% @drivers.each do |driver| %>
<li>
  <div><%= driver.name %></div>
  <div>this is a rating</div>
</li>

<% end %>
</ul>
